<a href="https://colab.research.google.com/github/Kushwanth4579/python-programs-2/blob/module1/conditional_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#find out the person the person is eligible to vote or not
a=int(input("enter age: "))
if(a>=18):
  print("eligible")
else:
  print("not eligible")

enter age: 44
eligible

In [5]:
#maximum of three numbersvvvvvvvvvvvvv
a=int(input("enter a: "))
b=int(input("enter b: "))
c=int(input("enter c: "))
if(a>b and a>c):
  print("a is maximum")
elif(b>c):
  print("b is maximum")
else:
  print("c is maximum")

enter a: 7
enter b: 7
enter c: 6
b is maximum

In [6]:
#minimum of three numbers
a=int(input("enter a: "))
b=int(input("enter b: "))
c=int(input("enter c: "))
if(a<b and a<c):
  print("a is minimum")
elif(b<c):
  print("b is minimum")
else:
  print("c is minimum")

enter a: 6
enter b: 8
enter c: 3
c is minimum

In [7]:
#positive or negative or zero
a=int(input("enter a: "))
if(a>0):
  print("a is positive number")
elif(a<0):
  print("a is negative number")
else:
  print("a is 0")

enter a: 5
a is positive number

In [9]:
#types of triangle
a=int(input("enter a: "))
b=int(input("enter b: "))
c=int(input("enter c: "))
if(a+b>c and b+c>a and c+a>b):
  if(a==b and b==c):
    print("equilateral triangle")
  elif(a==b or b==c):
    print("isocelse triangle")
  else:
    print("scalene triangle")
else:
  print("triangle not possible")

enter a: 3
enter b: 4
enter c: 5
scalene triangle

In [10]:
#finding a leap year
a=int(input("enter a year: "))
if(a%4==0):
  if(a%100==0):
    if(a%400==0):
      print("it is a leap year")
    else:
      print("it is not a leap year")
  else:
      print("it is a leap year")
else:
  print("it is not a leap year")

enter a year: 2004
it is a leap year